#agent_table, #new_agent, #my_config {
  border-bottom: 1px solid #eee;
  position: relative;
  height: 41px;
  padding: 0;
}

#my_config {
  height: 43px;
}

#agent_table {
  span.search {
    position: absolute;
    right: 0;
    top: 4px;
  }

  span.search input {
    padding: 1px 5px 0px 5px;
    line-height: 17px;
    margin: 4px 0 0 0;
    font-size: 12px;
    height: 24px;
    width: 200px;
  }
}

.agent_form_wrapper {
  transition: height ease 300ms;
  width: calc(100% + 4px);
  overflow: hidden;
  clear: both;
  height: 0;
}

.agent_form_wrapper.expanded {
  height: 374px;
}

.agent_form_wrapper.dirty button[type="submit"] {
  background-color: $wimdu-yellow-light !important;
  color: #444;
}

#agent_table_wrapper {
  transition: top ease 300ms;
  padding: 15px 4px 0 0;
  overflow-y: scroll;
  position: absolute;
  width: 986px;
  top: 460px;
  bottom: 0;

  .agent {
    background-color: #f0f0f0;
    padding: 8px 8px 6px 8px;
    width: calc(100% - 4px);

    img.avatar {
      background-color: #fff;
      margin: 0 8px 0 0;
      height: 48px;
      width: 48px;
    }

    i.fa {
      transition: color linear 300ms;
      background-color: #fff;
      border: 3px solid #ddd;
      border-radius: 1000px;
      position: absolute;
      line-height: 18px;
      font-size: 18px;
      padding: 5px;
      height: 34px;
      width: 34px;
      right: 18px;
      top: 15px;
    }

    i.fa-wrench {
      color: #e8e8e8;
    }

    i.fa-comments {
      cursor: default;
      color: #e8e8e8;
      right: 60px;
    }

    i.fa-comments.is-callable {
      cursor: pointer;
      color: #777;
    }

    i.fa-comments.is-callable:hover {
      color: #000;
    }

    ul {
      margin: 0 8px 0 0;
      padding-left: 5px;
      line-height: 25px;
      overflow: hidden;
      font-size: 13px;
      height: 48px;
      color: #555;
      float: left;
    }

    ul.col1 {
      width: 259px;
    }


    ul.col2 {
      width: 307px;
    }


    ul.col3 {
      width: 210px;
      margin: 0;
    }

    ul.col4 {
      margin-right: 0;
      float: right;
      width: 96px;
    }

    .space {
      display: inline-block;
      color: #888;
    }

    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: default;
    }
  }

  .agent.cu-can-edit-agent {
    cursor: pointer;

    li {
      cursor: pointer;
    }

    i.fa-wrench {
      cursor: pointer;
      color: #777;
    }

    i.fa-wrench:hover {
      color: #000;
    }
  }

  .agent_form_wrapper {
    transition: height ease 500ms;
    margin-top: -10px;
    width: 100%;
    float: left;

    img.avatar {
      visibility: hidden;
    }
  }

  .agent_form_wrapper.expanded {
    height: 324px;
  }

  fieldset {
    padding-top: 15px;
    margin: 0;

    legend {
      display: none;
    }
  }
}

body.en #agent_table_wrapper .agent {
  .space {
    width: 70px;
  }

  ul.col3 .space {
    width: 45px;
  }
}

body.de #agent_table_wrapper .agent {
  .space {
    width: 60px;
  }

  ul.col3 .space {
    width: 55px;
  }
}

#agent_table_wrapper.expanded {
  top: 86px;
}

.as-admin {
  #agent_table_wrapper {
    top: 503px;
  }

  #agent_table_wrapper.expanded {
    top: 129px;
  }
}

form.agent_form {

  fieldset {
    box-shadow: #888 2px 2px 3px;
    background-color: #f6f6f6;
    padding: 10px 0 10px 20px;
    width: calc(100% - 4px);

    legend {
      background: transparent;
    }
  }

  .avatar {
    box-shadow: #888 2px 2px 3px;
    margin: 18px 10px 15px 0;
    background-color: #fff;
    padding: 2px;
    height: 52px;
    width: 52px;
    float: left;
  }

  .clear {
    clear: both;
  }

  button.tiny  {
    box-shadow: 2px 2px 2px #999;
    border: 2px solid #fff;
    margin: 19px 21px 0 0;
    border-radius: 4px;
    float: left;
  }

  label {
    color: #4d4d4d !important;
    padding-right: 20px;
    height: 78px;
    float: left;
  }

  input, select {
    margin: 0;
  }

  span.required:after {
    content: ' *'
  }

  label.select {
    padding-bottom: 20px;
    height: auto;
    float: right;
  }

  select {
    line-height: 18px;
    height: 89px;
    padding: 0;

    option {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 3px 5px;
      font-size: 13px;
    }
  }

  .dropdown select {
    height: 37px;
    padding: 8px;
  }

  select[size], select[multiple] {
    background-image: none;
  }
}

@-moz-document url-prefix() {
  #agent_table_wrapper {
    width: 986px;

    .agent i.fa {
      line-height: 17px;
    }
  }
}
