#agent_overview {
  background-color: #fff;
  position: relative;
  height: 220px;
  z-index: 10;

  span.search {
    position: absolute;
    right: 16px;
    top: 2px;
  }

  span.search input {
    padding: 2px 5px 0px 5px;
    line-height: 14px;
    margin: 6px 0 0 0;
    font-size: 12px;
    height: 24px;
  }
}

#agent_overview_body {
  border-top: 1px solid #eee;
  padding-bottom: 10px;
  overflow-x: hidden;
  position: absolute;
  padding-top: 10px;
  overflow-y: auto;
  width: 735px;
  top: 40px;
  bottom: 0;

  > .ember-view {
    float: left;
  }

  > .ember-view:nth-child(even) {
    margin-left: 10px;
  }
}

.agent.ready i.fa {
  border-color: #6a6;
}

.agent.busy i.fa {
  border-color: #c66;
}

.agent.away i.fa {
  border-color: #ddd;
}

.agent {
  box-shadow: #888 2px 2px 3px;
  background-color: #f6f6f6;
  position: relative;
  margin-bottom: 8px;
  width: 354px;
  float: left;
  padding: 0;

  img.avatar {
    display: block;
    opacity: 0.8;
    margin: 8px;
    float: left;
  }

  i.fa {
    transition: color linear 300ms;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 1000px;
    position: absolute;
    font-size: 18px;
    padding: 5px;
    right: 18px;
    top: 16px;
  }

  i.fa.talking {
    color: #c66;
  }

  i.fa.talking:hover {
    color: #c66;
  }

  i.fa.silent,
  i.fa.online {
    cursor: pointer;
    color: #777;
  }

  i.fa.unknown,
  i.fa.offline {
    cursor: default;
    color: #e8e8e8;
  }

  i.fa:hover {
    color: #000;
  }

  i.fa.unknown:hover,
  i.fa.offline:hover {
    color: #e8e8e8;
  }

  span {
    white-space: nowrap;
    line-height: 14px;
    font-size: 13px;
    display: block;
    margin: 1px 0;
    color: #777;
    float: left;
  }

  span.avatar {
    background-color: #ddd;
    margin: 0 8px 0 0;
    height: 48px;
    width: 48px;
  }

  span.skills, span.languages {
    width: 270px;
  }

  span.name {
    border-bottom: none;
    color: #008cba;
    margin: 7px 0;
  }
}
