#agent_table, #new_agent, #my_prefs {
  border-top: 1px solid #eee;
  padding: 20px 0 0 0;
  margin-bottom: 10px;
  width: 100%;
}

#my_prefs {
  padding: 0;
}


form.agent_form {

  .avatar {
    box-shadow: #888 2px 2px 3px;
    margin-bottom: 15px;
    height: 48px;
    width: 48px;
  }

  button.tiny  {
    margin: 0;
  }
}
