::-webkit-scrollbar {
  background: #fff;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
  background: #ccc;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

div, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

html.touch {
  -webkit-text-size-adjust: 100%;

  #ember_main {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  a {
    -webkit-touch-callout: none;
  }

  input {
    -webkit-appearance: none;
    border-radius: 0;
  }

  #team_chat,
  #call_queue_body,
  #agent_table_wrapper,
  #agent_overview_body {
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
  }
}

div:focus, a:focus, button:focus, select:focus {
  outline: 0 !important;
}

select:disabled,
input[type="text"][disabled] {
  background-color: #fff !important;
}


textarea {
  resize: none;
}

#hidden_tabindex {
  display: none;
}

#login_body {
  margin-left: -300px;
  padding-top: 30px;
}

#version_tag {
  position: absolute;
  line-height: 9px;
  font-size: 9px;
  opacity: 0.7;
  margin: 5px;
  left: 0;
  top: 0;
}

#logout_link,
#navigation_bar {
  position: absolute;
  font-size: 12px;
  margin: 5px;
  z-index: 2;
  right: 0;
  top: 0;
}

#navigation_bar {
  text-align: center;
  width: 100%;
  z-index: 1;

  a {
    transition: color linear 300ms !important;
    box-shadow: #ccc 0px 5px 6px -4px;
    padding: 0px 2px;

  }

  a:hover {
    color: #000;
  }
}

form#new_user {
  margin: 0 auto;
  width: 300px;
}

#center_column {
  position: relative;
  height: 100%;
  z-index: 0;
}

#right_column {
  position: relative;
  height: 100%;
  z-index: 0;
}

#ember_main {
  position: relative;
  overflow: hidden;
  height: 100%;

  .error small.error {
    text-transform: none;
    margin-bottom: 12px;
    font-style: normal;
    padding: 1px 8px;
    font-size: 12px;
  }
}

#main > .ember-view,
#ember_main .ember-view.index,
#ember_main .ember-view.application {
  height: 100%;
}

#main {
  position: relative;
  padding-top: 30px;
  height: 100%;

  button.tiny, .button.tiny {
    line-height: 17px;
    padding: 9px 14px;
    font-size: 13px;
    height: 38px;
  }

  button.icon  {
    padding-right: 30px;

    i.fa {
      position: absolute;
      font-size: 14px;
      display: block;
      right: 10px;
      top: 11px;
    }
  }

  div.switch.tiny {
    label {
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      border-left: 1px solid #aaa;
      border-top: 1px solid #aaa;
      height: 20px;
      width: 42px;
    }

    label:after {
      height: 14px;
      width: 14px;
      left: 3px;
      top: 2px;
    }

    input:checked + label:after {
      left: 23px;
    }
  }

  h5 {
    transition: color ease 300ms;
    cursor: pointer;
    color: #666;

    span.stats {
      font-size: 14px;
      color: orange;
      margin: 10px;
    }
  }

  h5:hover {
    color: #000;
  }

  a {
    transition: background-color linear 300ms;
  }

  .bottom-mask {
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0px, rgba(0,0,0,1) 20px);
  }

  i.header {
    transition: color linear 300ms;
    margin-right: 8px;
    line-height: 32px;
    font-size: 24px;
    color: #008CBA;
    width: 26px;
  }

  i.header:hover {
    color: #000;
  }

  i.header:before {
    margin: 0 -2px 0 2px;
  }

  .has-tip {
    border-bottom: 0;
    font-weight: normal;
  }
}

@-moz-document url-prefix() {
  #main {
    button.tiny, .button.tiny {
      line-height: 16px;
    }
  }
}

.blurred {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
}

tr.dirty input, input.dirty, textarea.dirty {
  background-color: #ffd890 !important;
}
