#login_body {
  padding-top: 30px;
}

#version_tag {
  position: absolute;
  font-size: 11px;
  opacity: 0.7;
  margin: 5px;
  left: 0;
  top: 0;
}

#logout_link {
  position: absolute;
  font-size: 14px;
  margin: 5px;
  right: 0;
  top: 0;
}

form#new_user {
  margin: 0 auto;
  width: 300px;
}

#main {
  position: relative;
  padding-top: 30px;
  height: 100%;
}

#center_column {
  position: relative;
  height: 100%;
  z-index: 0;
}

#my_dashboard {
  position: relative;
  height: 100px;
  z-index: 10;
}

#agent_overview {
  position: relative;
  height: 200px;
  z-index: 10;
}

#agent_overview_toggle {
  transition: color ease 300ms;
  position: absolute;
  cursor: pointer;
  color: #aaa;
  top: 18px;
  right: 0;
}

#agent_overview_toggle:hover {
  color: #333;
}

#agent_overview_body {
  border-top: 1px solid #eee;
  position: absolute;
  padding-top: 10px;
  overflow-y: auto;
  bottom: 0;
  top: 40px;

}

.bottom-mask {
  -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0px, rgba(0,0,0,1) 30px);
}

#call_queue {
  transition: top ease 300ms;
  background-color: #fff;
  position: absolute;
  top: 320px;
  z-index: 10;
  bottom: 0;
}

#call_queue.expanded {
  top: 141px;
}

#call_queue_body {
  border-top: 1px solid #eee;
  position: absolute;
  padding-top: 10px;
  overflow-y: auto;
  bottom: 0;
  top: 40px;
}

#right_column {
  position: relative;
  height: 100%;
  z-index: 0;
}

#chat_header {
  height: 100px;
  z-index: 10;
}

#team_chat {
  border-top: 1px solid #eee;
  position: absolute;
  padding-top: 10px;
  overflow-y: auto;
  top: 140px;
  z-index: 1;
  bottom: 0;
}

i.header {
  margin-right: 8px;
  line-height: 32px;
  font-size: 24px;
}

::-webkit-scrollbar {
  background: #fff;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
  background: #ccc;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

.ember-application {

  button.tiny, .button.tiny {
    padding-bottom: 0.5rem;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
    padding-top: 0.5rem;
    font-size: 0.85rem;
  }

  .error small.error {
    padding: 0.375rem 0.5625rem;
  }
}
