#call_queue {
  transition: top ease 300ms;
  background-color: #fff;
  position: absolute;
  z-index: 15;
  top: 420px;
  bottom: 0;

  i.header.talking {
    color: #C66;
  }

  i.header.talking:hover {
    color: #000;
  }
}

#call_queue.lifted {
  top: 280px;
}

#call_queue.expanded {
  top: 221px;
}

#call_queue.lifted.expanded {
  top: 84px;
}

#call_queue_body {
  border-top: 1px solid #eee;
  padding: 10px 8px 0 0;
  position: absolute;
  overflow-y: scroll;
  width: 735px; // Can we avoid setting this directly?
  bottom: 0;
  top: 40px;
}

table#callstats_table {
  box-shadow: #888 2px 2px 3px;
  border-collapse: separate;
  width: 100%;
  border: 0;

  tr {
    background-color: #faebd7;
    vertical-align: baseline;
  }

  tr.thead td {
    background-color: #ddd;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  td.split {
    padding: 9px 10px;
    width: 355px;
  }
}

table.callstats_table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  tr {
    padding: 0;
    margin: 0;
  }

  td {
    -webkit-user-select: text;
    -moz-user-select: text;
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
  }

  span.has-tip {
    margin-left: 6px;
    border: none;
    float: right;
  }

  i.fa {
    transition: color linear 300ms;
    font-size: 16px;
    color: #008cba;
  }

  i.fa:hover {
    color: #000;
  }

  i.fa.connection {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 1000px;
    position: absolute;
    line-height: 24px;
    padding: 3px 5px;
    font-size: 24px;
    height: 35px;
    left: -28px;
    width: 35px;
    color: #ccc;
    top: 29px;
  }

  i.fa.connection:hover {
    color: #ccc;
  }

  i.fa.connection.my-call-leg {
    cursor: pointer;
    color: #008cba;
  }

  i.fa.connection.my-call-leg:hover {
    color: #000;
  }
}

html.touch {
  table.callstats_table {
    i.fa.connection {
      padding: 3px 5px;
    }
  }
}
