#call_queue {
  transition: top ease 300ms;
  background-color: #fff;
  position: absolute;
  z-index: 15;
  top: 420px;
  bottom: 0;

  i.header.talking:before {
    background-color: $warning-color;
    padding: 3px 4px 3px 5px;
    border-radius: 1000px;
    margin: 0 0 0 -3px;
  }
}

#call_queue.lifted {
  top: 280px;
}

#call_queue.expanded {
  top: 221px;
}

#call_queue.lifted.expanded {
  top: 84px;
}

#call_queue_body {
  border-top: 1px solid #eee;
  padding: 10px 8px 0 0;
  position: absolute;
  overflow-y: scroll;
  width: 734px;
  bottom: 0;
  top: 40px;
}

@-moz-document url-prefix() {
  width: 742px;
}

table#callstats_table {
  box-shadow: #888 2px 2px 3px;
  border-collapse: separate;
  border: 1px solid #ddd;
  background-color: #ccc;
  border-spacing: 1px;
  width: 100%;

  tr {
    background-color: #f6f6f6;
  }

  tr.thead td {
    background-color: #e0e0e0;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    height: 36px;
    color: #333;
  }

  i.fa-circle,
  i.fa-times-circle-o {
    position: absolute;
    font-size: 16px;
    right: 10px;
    color: #fff;
    z-index: 1;
    top: 11px;
  }

  i.fa-times-circle-o {
    transition: color linear 300ms;
    font-size: 18px;
    cursor: pointer;
    color: #444;
    right: 10px;
    z-index: 2;
    top: 10px;
  }

  i.fa-times-circle-o:hover {
    color: #999;
  }

  td.split {
    padding: 9px 10px;
    line-height: 18px;
    height: 86px;
    width: 355px;
  }

  #customer {
    overflow: hidden;
    height: auto;
  }

  #customer.hidden {
    height: 0;
  }

  span.matches {
    position: absolute;
    right: 8px;
    top: 1px;
  }

  span.matches label {
    padding-right: 15px;
    position: relative;
    line-height: 34px;
    font-size: 12px;
    height: 34px;

    input {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 11px;
      margin: 0;
      right: 0;
    }
  }
}

.customer_table {
  height: 80px;
}

table.callstats_table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-collapse: collapse;
  position: relative;
  width: 336px;
  padding: 0;
  margin: 0;
  border: 0;

  tr {
    padding: 0;
    margin: 0;
  }

  td {
    -webkit-user-select: text;
    -moz-user-select: text;
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
  }

  span.has-tip {
    margin-left: 6px;
    border: none;
    float: right;
  }

  i.fa {
    transition: color linear 300ms;
    color: $primary-color;
    font-size: 16px;
  }

  i.fa:hover {
    color: #000;
  }

  i.fa.connection {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 1000px;
    position: absolute;
    line-height: 25px;
    padding: 3px 5px;
    font-size: 24px;
    height: 35px;
    left: -28px;
    width: 35px;
    color: #ccc;
    top: 29px;
  }

  i.fa.connection:hover {
    color: #ccc;
  }

  i.fa.connection.my-call-leg {
    color: $primary-color;
    cursor: pointer;
  }

  i.fa.connection.my-call-leg:hover {
    color: #000;
  }

  td.strong {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #888;
  }

  img.avatar {
    border: 2px solid #aaa;
    position: absolute;
    margin: 17px 72px;
    opacity: 0.8;
    height: 48px;
    width: 48px;
  }
}

@-moz-document url-prefix() {
  table.callstats_table img.avatar {
    margin: 22px 75px;
  }
}

html.touch {
  table.callstats_table {
    i.fa.connection {
      padding: 3px 5px;
    }
  }
}
