#call_queue {
  transition: top ease 300ms;
  background-color: #fff;
  position: absolute;
  z-index: 15;
  top: 420px;
  bottom: 0;
}

#call_queue.lifted {
  top: 280px;
}

#call_queue.expanded {
  top: 221px;
}

#call_queue.lifted.expanded {
  top: 84px;
}

#call_queue_body {
  border-top: 1px solid #eee;
  padding: 10px 8px 0 0;
  position: absolute;
  overflow-y: scroll;
  width: 735px; // Can we avoid setting this directly?
  bottom: 0;
  top: 40px;
}

table#callstats_table {
  width: 100%;

  tr {
    background-color: #faebd7;
    vertical-align: top;
  }

  thead tr {
    background-color: #ddd;
    font-size: 12px;
  }
}

table.callstats_table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  tr {
    padding: 0;
    margin: 0;
  }

  td {
    font-size: 12px;
    padding: 0 4px;
    margin: 0;
  }

  span.has-tip {
    margin-left: 6px;
    border: none;
    float: right;
  }

  i.fa {
    transition: color linear 300ms;
    font-size: 14px;
    color: #008cba;
  }

  i.fa:hover {
    color: #000;
  }

  i.fa.connection {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 1000px;
    position: absolute;
    font-size: 24px;
    padding: 4px;
    left: -30px;
    top: 26px;
  }
}
