#customer_search {
  border-top: 1px solid #eee;

  input {
    margin-top: 15px;
    width: calc(50% - 8px);
    float: left;
  }

  input:first-child {
    margin-right: 16px;
  }
}

#customer_search_results {
  height: calc(100% - 110px);
  overflow-y: scroll;
  width: 978px;

  // TODO remove once obsolete:
  > .panel {
  }

  // TODO remove once obsolete:
  ul {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;

    p {
      display: inline;
    }
  }

  // TODO remove once obsolete:
  ul, li, p {
    font-size: 12px;
    margin: 0;
  }

  h6 {
    border-bottom: 1px solid #999;
  }
}

#customer_search_examples {
  table {
    margin-top: 20px;

    td {
      font-size: 12px;
    }
  }
}
