table.tickets_table,
table.history_table,
table.customer_table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  border: 0;

  td.space22 {
    padding: 4px;
    width: 22%;
  }

  td.space28 {
    padding: 4px;
    width: 28%;
  }

  td.space15 {
    padding: 4px;
    width: 15%;
  }

  i.crmuser {
    transition: color linear 300ms;
    vertical-align: text-top;
    font-size: 12px;
    color: #444;
  }

  i.crmuser:hover {
    color: #aaa;
  }

  label {
    font-size: 13px;
  }
}

table.tickets_table,
table.history_table {
  width: calc(100% - 8px);
  margin: 4px;

  col.w12 {
    width: 12%;
  }

  col.w19 {
    width: 19%;
  }

  col.w22 {
    width: 22%;
  }

  col.w47 {
    width: 47%;
  }

  td.w22 {
    max-width: 152px;
  }

  td.w47 {
    max-width: 322px;
  }

  thead td {
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 13px;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  td {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 19px;
    overflow: hidden;
    font-size: 12px;
    padding: 0 4px;
    height: 26px;
    color: #666;
  }

  td.status {
    text-align: right;

    span {
      padding: 0px 6px 1px 6px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      cursor: default;
      font-size: 10px;
    }
  }
}

table.tickets_table {
  margin-top: 18px;

  i.fa-refresh {
    transition: color linear 300ms;
    margin-left: 8px;
    cursor: pointer;
    color: #aaa;
  }

  i.fa-refresh:hover {
    color: #000;
  }
}

table#callstats_table {
  .button.store {
    background-color: $wimdu-blue-light;
    border: 1px solid #ccc;
    margin: -16px 0 0 0;
    padding: 10px 14px;
    line-height: 14px;
    font-size: 14px;
    display: block;
    height: 37px;
  }

  .button.store:hover {
    background-color: $wimdu-blue;
  }
}

#current_entry {
  margin-bottom: 10px;
  position: relative;
  padding: 4px;
  width: 433px;
  float: left;

  textarea {
    font-size: 12px;
    height: 65px;
  }

  i.to-crmuser {
    transition: color linear 300ms;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    color: #666;
    right: 7px;
    top: 7px;
  }

  i.to-crmuser:hover {
    color: #aaa;
  }
}

#current_tags {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  margin: 4px 4px 17px 4px;
  border: 1px solid #ccc;
  position: relative;
  line-height: 14px;
  padding: 5px 4px;
  font-size: 11px;
  height: 65px;
  width: 253px;
  float: left;

  span.tag {
    padding: 1px 16px 1px 4px;
    text-overflow: ellipsis;
    background-color: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    white-space: nowrap;
    margin: 0 5px 4px 0;
    border-radius: 7px;
    position: relative;
    max-width: 236px;
    overflow: hidden;

    i.fa {
      transition: color linear 300ms;
      position: absolute;
      font-size: 14px;
      cursor: pointer;
      color: #bbb;
      right: 1px;
      top: 1px;
    }

    i.fa:hover {
      color: #000;
    }
  }

  .taglist {
    position: absolute;
    font-size: 11px;
    bottom: -24px;
    left: -1px;

    * {
      font-size: inherit !important;
    }
  }

  input.typeahead {
    padding: 1px 5px 0px 5px;
    height: 24px;
    width: 253px;
    margin: 0;
  }

  span.tt-dropdown-menu {
    border: 1px solid #aaa;
    background-color: #fff;
    margin-top: -1px;
    width: 252px;
  }

  .tt-suggestion {
    padding: 3px 4px 1px 4px;
    cursor: pointer;
    width: 250px;
    height: 23px;
  }

  .tt-cursor {
    background-color: rgba(0, 140, 186, 0.3);
  }
}
