table.history_table,
table.customer_table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  border: 0;

  td.space {
    padding: 4px;
    width: 25%;
  }
}

table.history_table {
  tr {
    border-bottom: 1px solid #fff;
  }

  tr.call-is-current td {
    padding: 0 0 0 4px;
    line-height: 26px;
    color: #000;
  }

  td {
    font-size: 12px;
    padding: 4px;
    color: #666;
  }

  td.remarks input {
    width: calc(100% + 6px);
    padding: 2px 5px 1px;
    margin: 0 0 0 -6px;
    line-height: 14px;
    display: inline;
    font-size: 12px;
    height: 26px;
  }

  span.jp-duration {
    margin-right: 4px;
  }

  span.jp-duration, span.jp-current-time {
    display: inline-block;
    color: #999;
    width: 36px;
  }

  span.jp-play, span.jp-stop, span.jp-pause {
    display: inline-block;
    width: 24px;

    i {
      transition: color linear 300ms;
      cursor: pointer;
      color: #aaa;
    }

    i:hover {
      color: #000;
    }
  }
}

table#callstats_table {
  .button.store {
    padding: 10px 14px;
    font-size: 14px;
    display: block;
    height: 36px;
  }
}
