#customer_search {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #eee;
  height: 69px;

  input {
    width: calc(40% - 8px);
    margin: 15px 16px 0 0;
    float: left;
  }

  input:last-child {
    width: calc(20% - 16px);
    margin-right: 0;
  }
}

#customer_search_results {
  height: calc(100% - 111px);
  overflow-y: scroll;
  width: 978px;

  // TODO remove once obsolete:
  > .panel {
    margin: 10px 0;
  }

  // TODO remove once obsolete:
  ul {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;

    p {
      display: inline;
    }
  }

  // TODO remove once obsolete:
  ul, li, p {
    font-size: 12px;
    margin: 0;
  }

  p {
    margin: 8px 0;
  }

  h6 {
    border-bottom: 1px solid #999;
    margin-bottom: 16px;
  }

  .clear {
    clear: both;
  }
}

#customer_search_examples {
  transition: opacity linear 1000ms;
  background-color: #fff;
  padding: 40px 0 0 0;
  overflow: hidden;
  border-top: 0;
  border: 0;

  p {
    font-size: 13px;
    color: #666;
  }

  table {
    margin-top: 20px;

    td {
      font-size: 12px;
      color: #555;
    }
  }

  .col1 {
    width: 565px;
    float: left;
  }

  .col2 {
    margin-left: 30px;
    width: 375px;
    float: left;
  }
}

#customer_search_examples.hidden {
  opacity: 0;
  height: 0;
}
