#my_settings {
  transition: height ease 300ms;
  position: relative;
  padding-right: 0;
  height: 43px;
  z-index: 5;

  li.tab-title.active > a {
    cursor: default;
  }

  .tabs.vertical {
    margin-top: 10px;
  }

  .tabs-content.vertical > .content {
    margin-top: 10px;
  }

  span.stats {
    padding-right: 15px;
  }
}

#my_settings_mask {
  position: absolute;
  display: none;
  height: 120px;
  width: 550px;
  z-index: 10;
  left: 180px;
}

.locked-for-update #my_settings_mask {
  display: block;
}

#my_settings.expanded {
  height: 180px;
}

#my_settings_body {
  border-top: 1px solid #eee;
  overflow-x: hidden;
  position: initial;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  bottom: 0;
  top: 40px;

  > ul {
    box-shadow: #888 2px 2px 3px;
    border: 1px solid #ddd;
    overflow: hidden;
    height: 101px;
  }
}

#skill_table,
#state_table,
#language_table {
  box-shadow: #888 2px 2px 3px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  overflow: hidden;
  height: 101px;
  width: 438px;
  float: left;
  margin: 0;

  .td, label {
    padding: 0;
    margin: 0;
  }

  .td {
    padding: 6px 8px;
    cursor: default;
    height: 33px;
    float: left;
  }

  .td.space {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
    width: 160px;
  }

  .switch input {
    cursor: pointer;
  }
}
