.gauge {
  margin: 0 23px 0 -15px;
  height: 160px;
  width: 160px;
  float: left;
}

#calls6.gauge {
  margin: 0 -23px 0 -15px;
}

#rrd_history {
  box-shadow: #888 2px 2px 3px;
  background-color: #eee;
  margin-top: 50px;
  height: 222px;
  width: 970px;

  img {
    border: 1px solid #ddd;
  }
}

#gauge_table {
  border-top: 1px solid #eee;
  margin-bottom: 10px;
  position: initial;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  top: 40px;
}

.language_details {
  display: none;

  span.language {
    margin-left: 4px;
    cursor: pointer;
  }

  a {
    color: #666;
  }

  a.active {
    color: $wimdu-blue-light;
  }
}

#stats_control {
  position: absolute;
  right: 16px;

  i.fa {
    transition: color linear 300ms;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    float: right;
    color: #999;
  }

  i.fa:hover {
    color: #000;
  }

  i.fa.active {
    cursor: default;
    color: #ccc;
  }
}

.language_details.active {
  display: block;
}

table#stat_details {
  box-shadow: #888 2px 2px 3px;
  background-color: #f5f5f5;
  width: 100%;

  thead td {
    font-weight: normal;
    cursor: default;
    color: #333;
  }

  tbody td {
    border: 1px solid #ddd;
    cursor: default;
    padding: 0;
  }

  table.stat_detail {
    width: 100%;
    border: 0;
    margin: 0;

    td {
      border: 1px solid #eee;
      padding: 4px 8px 0px;
      text-align: center;
      position: relative;
      width: 50%;
    }

    td:before {
      position: absolute;
      font-size: 12px;
      color: #999;
      left: 3px;
      top: 0;
    }

    td.qc:before {
      content: 'QC';
    }

    td.dc:before {
      content: 'DC';
    }

    td.md:before {
      content: 'MD';
    }

    td.ad:before {
      content: 'AD';
    }

    span {
      display: inline-block;
      line-height: 40px;
      overflow: hidden;
      font-size: 24px;
      cursor: default;
      height: 40px;
    }

    span.empty {
      font-size: 18px;
      color: #aaa;
    }

    span.warn {
      color: $warning-color;
      font-size: 30px;
    }

    span.err {
      color: $alert-color;
      font-size: 36px;
    }
  }
}
