#chat_header {
  height: 100px;
  z-index: 10;

  h5 {
    margin-bottom: 12px;
  }
}

#team_chat {
  border-top: 1px solid #eee;
  position: absolute;
  overflow-y: auto;
  padding-top: 4px;
  top: 124px;
  z-index: 1;
  bottom: 0;
}

.message {
  border-bottom: 1px solid #eee;
  padding: 8px 0 4px 0;

  span.from {
    margin-left: 4px;
    color: #008CBA;
  }

  .body p {
    text-overflow: ellipsis;
    margin: 6px 0 6px 0;
    line-height: 18px;
    max-height: 70px;
    overflow: hidden;
    font-size: 13px;
    color: #999;
  }
}
