doctype html
html
  head
    title Voice

    meta charset='utf-8' /
    meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' /
    meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' /
    meta name='apple-mobile-web-app-capable' content='yes' /
    meta name='format-detection' content='telephone=no' /
    meta name='apple-touch-fullscreen' content='yes' /

    link rel='icon' type='image/png' href='/voice-32.png' /
    link rel='apple-touch-icon' href='/voice-32.png' /

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags

  body
    #version_tag = WimVersion
    video#localVideo  autoplay='' style='display: none'
    video#remoteVideo autoplay='' style='display: none'

    #ember_main
      = yield

    javascript:
      window.env = {
        messages:      [],
        sseErrors:     0,
        chromeVers:    37,
        firefoxVers:   32,
        locale:       "en",
        debug:         false,
        railsEnv:     "#{Rails.env}",
        sipAgent:     "#{current_user.try(:name)}",
        sipSecret:    "#{current_user.try(:secret)}",
        sipHost:      "#{WimConfig.sip_host}",
        userId:        #{current_user.try(:id) || 'null'},
        sessionToken: "#{form_authenticity_token}",
        crmProvider:  "#{WimConfig.crm_provider}",
        crmUserUrl:   "#{WimConfig.crm_user_url}",
        rrdSource:    "#{WimConfig.stats_image_url}",
        sslEnabled:    #{Rails.env.test? ? 'false' : 'true'},
        defaultTags:   #{WimConfig.default_tags.to_json.html_safe},
        availability:  #{WimConfig.availability.to_json.html_safe},
        visibility:    #{WimConfig.visibility.to_json.html_safe},
        languages:     #{WimConfig.languages.to_json.html_safe},
        activity:      #{WimConfig.activity.to_json.html_safe},
        skills:        #{WimConfig.skills.to_json.html_safe},
        roles:         #{WimConfig.roles.to_json.html_safe}
      }

    = javascript_include_tag 'application'
